body{
	background-color: black;
}

h4{
	color: red;
}
h3{
	color: coral;
}
ul{
	list-style: none;
}
ul li{
	list-style: none;
	display: inline-block;
    margin: 0 20px 0 20px;
}
ul{
	border-width: 100%;
    background-color: blue;
}
p{
	color: white;
}